---
layout: default
title: Welcome to N21 Properties
services: Real Estate Investor & Short-Term Rental Host
meta_description: Short-term Rental Host & Co-host Company
main-image: bg-image.jpeg
---
<!-- <div class="py-vh-3 overflow-hidden">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        
      </div>
      <div class="col-lg-5">
        {% include form.html %}
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid py-vh-3 bg-gray-100">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="mb-4">STR Properties &amp; Listings</h2>
        </div>
      </div>
        {% for property in site.properties reversed %}    
        <div class="card mb-1">
          <div class="row g-0 m-0 p-0">
            <div class="col-md-2 overflow-hidden d-flex align-items-stretch">
                <img src="img/properties/{{ property.featured_image.one }}" class="img-fluid" style="object-fit: cover; object-position: center; ">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <p class="card-title">
                  <a href="{{ property.url }}" class="stretched-link fw-bold text-decoration-none">{{ property.title }}</a>
                  <span class="small text-muted float-end"><i class="fa-light fa-earth-americas"></i> {{ property.location }}</span>
                </p>
                <p class="card-text text-truncate">
                  {{ property.description }}
                </p>
                <p class="card-text small fw-light">
                  {{ property.guests }} guests <span class="text-black-50 px-1">•</span>
                  {{ property.bedrooms }} bedrooms <span class="text-black-50 px-1">•</span> 
                  {{ property.beds }} beds <span class="text-black-50 px-1">•</span>
                  {{ property.bathrooms }} bathrooms
                </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>

<!-- Section -->
<!-- <div class="py-vh-2 w-100 overflow-hidden">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-8">
        <h2 class="py-3">Elevate Your Vision with a Design Consultation</h2>
        <p>Are you looking to enhance your user experience or revamp your user interface? Tony Naccarato, a seasoned user experience designer and creative director with 18 years of expertise, can aid in elevating and advancing your application. Contact us to discuss your project and objectives.</p>
      </div>
    </div>
  </div>
</div> -->