---
layout: default
title: Welcome to N21 Properties
services: Short-term Rental Host & Co-host Company
meta_description: Short-term Rental Host & Co-host Company
main-image: bg-image.jpeg
---
<div class="w-100 overflow-hidden">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        
      </div>
      <div class="col-lg-5">
        {% include form.html %}
      </div>
    </div>
  </div>
</div>

<div class="w-100 bg-gray-100 overflow-hidden" id="properties">
  <div class="container py-vh-3">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 text-center">
        <h2 class="display-6">Properties</h2>
        <p class="lead">See some our short-term rental properties</p>
      </div>
      <div class="col-12 mt-4">
        <div class="row row-cols-1 row-cols-md-2 g-3 d-flex align-items-center">
          {% for property in site.properties reversed %}
          <div class="col-12 col-lg-6 col-xl-4">
            <div class="card border-0">
              <div class="card-body">
                <a href="{{ property.url }}" class="text-decoration-none">
                <img src="img/properties/{{ property.featured_image.one }}" width="100%">
                <div class="d-flex justify-content-between px-4 mt-3 mb-4">
                  <p class="card-text">
                    <span class="h6 fw-5">{{ property.title }}</span><br>
                    <small class="text-muted">
                      {{ property.category.one }}
                      {% if property.category.two %} • {{ property.category.two }}{% endif %}
                    </small>
                  </p>
                </div>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section -->
<!-- <div class="py-vh-2 w-100 overflow-hidden">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-8">
        <h2 class="py-3">Elevate Your Vision with a Design Consultation</h2>
        <p>Are you looking to enhance your user experience or revamp your user interface? Tony Naccarato, a seasoned user experience designer and creative director with 18 years of expertise, can aid in elevating and advancing your application. Contact us to discuss your project and objectives.</p>
      </div>
    </div>
  </div>
</div> -->