<!doctype html>
<html class="h-100" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="#ffffff">
  <meta name="HandheldFriendly" content="true">
  <meta name="description" content="{{ page.meta_description}}">
  <title>{{ page.title }} | {{ site.data.settings.basic_settings.title }}</title>
  <meta property="og:title" content="{{ page.title }} | {{ site.data.settings.basic_settings.title }}">
  <meta name="author" content="{{ site.data.settings.basic_settings.site_author }}">
  <meta property="og:locale" content="en_US">
  <meta name="description" content="{{ page.meta_description}}">
  <meta property="og:description" content="{{ page.meta_description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ page.title}} | {{ site.data.settings.basic_settings.title }}">
  <meta property="og:image" content="{{ site.url }}/img{{ page.url }}{{ page.main-image }}">
  <meta property="og:type" content="{{ site.data.settings.schema.type }}">
  <meta name="twitter:card" content="{{ page.meta_description }}">
  <meta property="twitter:image" content="{{ site.url }}/img{{ page.url }}{{ page.main-image }}">
  <meta property="twitter:title" content="{{ page.title }} | {{ site.data.settings.basic_settings.title }}">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.settings.basic_settings.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.data.settings.basic_settings.google_analytics }}');
  </script>
  {% include schema.html %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="stylesheet" href="{{ site.url }}/css/theme.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="{{ site.data.settings.font_settings.font_embed }}" rel="stylesheet">
  <link href="{{ site.url }}/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="{{ site.url }}/assets/fontawesome/css/brands.css" rel="stylesheet">
  <link href="{{ site.url }}/assets/fontawesome/css/light.css" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>