{% include head.html %}
  <body data-bs-spy="scroll" data-bs-target="#navScroll">
  {% include nav.html %}
  <main>
    <div class="overflow-hidden">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 py-vh-3 text-center">
            <h1 class="display-3 mt-5 pt-5">{{ page.title }}</h1>
						<p class="lead">{{ page.location }}</p>
            <img src="/img/properties/{{ page.featured_image.one }}" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
   
    <div class="mb-5 overflow-hidden">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h3 class="text-uppercase mb-3">About our home</h3>
            <p class="fs-5">
              <i class="fa-light fa-people-simple"></i> {{ page.guests }} guests
              <span class="text-black-50 px-2">•</span>
              <i class="fa-light fa-bed-empty"></i> {{ page.bedrooms }} bedroom
              <span class="text-black-50 px-2">•</span>
              <i class="fa-light fa-bath"></i> {{ page.beds }} beds
              <span class="text-black-50 px-2">•</span>
              <i class="fa-light fa-lamp"></i> {{ page.bathrooms }} bathroom
            <p>
            {{ content }}
            {{ page.airbnb }}
            {% if page.booking %}
            <p>Also available on <a href="{{ page.booking }}" target="_blank" rel="nofollow">Booking.com</a> and <a href="{{ page.vrbo }}" target="_blank" rel="nofollow">Vrbo</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </main>
  {% include footer.html %}
  </body>
</html>